---
title: "Home"
date: 2023-07-16T23:04:40-04:00
draft: false
nav: true
---

<div class="container min-vh-100 d-flex flex-column justify-content-center" style="height: 100%;">
	<div class="row" style="height: 100%;">
		<div class="col-12 col-md-9 col-xl-7 col-xxl-6 text-center" style="height: 100%;">
			<div class="display-4 position-relative d-inline-block" style="height: 100%;">
				<div class="branding-title-text">
					<div class="diagonal-line diagonal-line-red diagonal-line-left"></div>
					<span class="text-red text-logo-first-i">i</span><span
						class="text-logo-first-half">maginary</span><span
						class="text-blue text-logo-second-i">i</span><span class="text-logo-second-half">nfinity</span>
					<div class="diagonal-line diagonal-line-blue diagonal-line-right"></div>
				</div>
			</div>
		</div>
	</div>


	<!-- <div class="side-circle-red"></div>
<div class="side-circle-blue"></div> -->
</div>

<!--<div class="container min-vh-100">
	
</div>-->