@keyframes slide-out {
	from {
		transform: translateX(0%);
	}
	to {
		transform: translateX(100%);
	}
}

@keyframes slide-to-corner {
	from {
		transform: scale(100%);
	}
	to {
		transform: scale(37%);
	}
}

@keyframes slide-out-of-corner {
	from {
		transform: scale(37%);
	}
	to {
		transform: scale(100%);
	}
}

.branding-title-text.slide-out .text-logo-second-i,
.branding-title-text.slide-out .text-logo-first-half,
.branding-title-text.slide-out .text-logo-second-half {
	animation-duration: 0.5s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
	animation-name: slide-out;
}

.branding-title-text.slide-out .text-logo-first-half,
.branding-title-text.slide-out .text-logo-second-half {
	opacity: 0;
	transform: scale(0);
}

.branding-title-text.slide-out .diagonal-line-right,
.branding-title-text.slide-out .text-logo-second-i {
	transform-origin: center center;
}

.branding-title-text.slide-out {
	transition: transform 1s ease-in-out;
	animation: slide-to-corner 1s ease forwards;
}

.branding-title-text.slide-in {
	transition: transform 1s ease-in-out;
	animation: slide-out-of-corner 1s ease forwards;
}

.branding-title-text.slide-out .diagonal-line-right {
	animation: slideDiagonalRightToLeft 1s ease forwards;
}

.branding-title-text.slide-out .text-logo-second-i {
	animation: slideTextBlueRightToLeft 1s ease forwards;
}

@keyframes slideDiagonalRightToLeft {
	0% {
		transform: translateX(0%) rotate(-67.73deg);
	}
	100% {
		transform: translateX(-610%) rotate(-67.73deg);
	}
}

@keyframes slideTextBlueRightToLeft {
	0% {
		transform: translateX(0%);
	}
	100% {
		transform: translateX(-1675%);
	}
}