@keyframes slide-in {
	from {
		transform: translateX(100%);
	}
	to {
		transform: translateX(0%);
	}
}

.branding-title-text.slide-in .text-logo-second-i,
.branding-title-text.slide-in .text-logo-first-half,
.branding-title-text.slide-in .text-logo-second-half {
	animation-duration: 0.5s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
	animation-name: slide-in;
}

.branding-title-text.slide-in .text-logo-first-half,
.branding-title-text.slide-in .text-logo-second-half {
	opacity: 1;
	transform: scale(1);
}

.branding-title-text.slide-in .diagonal-line-right,
.branding-title-text.slide-in .text-logo-second-i {
	transform-origin: center center;
}

.branding-title-text.slide-in .diagonal-line-right {
	animation: slideDiagonalLeftToRight 1s ease forwards;
}

.branding-title-text.slide-in .text-logo-second-i {
	animation: slideTextBlueLeftToRight 1s ease forwards;
}

@keyframes slideDiagonalLeftToRight {
	0% {
		transform: translateX(-610%) rotate(-67.73deg);
	}
	100% {
		transform: translateX(0%) rotate(-67.73deg);
	}
}

@keyframes slideTextBlueLeftToRight {
	0% {
		transform: translateX(-1675%);
	}
	100% {
		transform: translateX(0%);
	}
}
