.branding-title-text {
	font-family: Comfortaa;
	position: relative;
	display: inline-block;
	overflow: visible;
}

.diagonal-line {
	position: absolute;
	width: 15%;
	height: 5px;
	transform: rotate(-67.73deg);
}

.diagonal-line::before {
	content: "";
	position: absolute;
	left: 0;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	transform: translateX(-50%) rotate(45deg);
}

.diagonal-line::after {
	content: "";
	position: absolute;
	right: 0;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	transform: translateX(50%) rotate(45deg);
}

.diagonal-line-left {
	top: 40%;
	left: -11.5%;
}

.diagonal-line-right {
	bottom: 50%;
	right: -11.5%;
}

.text-logo-first-i,
.text-logo-second-i,
.text-logo-first-half,
.text-logo-second-half {
	position: relative;
	z-index: 2;
	display: inline-block;
	transition: opacity 0.5s ease-in-out;
	transform-origin: right;
	opacity: 1;
}