@font-face {
	font-family: 'Comfortaa';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(/font/Comfortaa-Regular.ttf);
}

$body-bg: #1e1e20;
$body-color: rgba(255, 255, 255, 0.87);
$font-family-base: Comfortaa, system-ui, Helvetica, Arial, sans-serif;
$font-weight-base: 400;
$line-height-base: 1.5;

$theme-colors: (
	"blue": #268bd2,
	"primary": #268bd2,
	"secondary": #6c757d,
	"red": #dc322f,
	"danger": #dc322f,
	"success": #57b81f,
	"warning": #9b8923,
	"info": #279fc4,
	"dark": #1e1e20,
	"light": #37373a,
);

@import "bootstrap/bootstrap";

.nav-flush {
	border-radius: 0;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
	background-color: map-get($theme-colors, "blue");
}

.nav-pills .nav-link {
	margin: 0 3px;
}

@include media-breakpoint-up(md) {
	.side-circle {
		width: 100px;
		height: 200px;
		/* as the half of the width */
		border-width: 10px;
		border-style: solid;
		border-top-left-radius: 110px;
		/* 100px of height + 10px of border */
		border-bottom-left-radius: 110px;
		/* 100px of height + 10px of border */
		border-bottom: 0;
		position: absolute;
		right: 0;
		opacity: 0.4;
	}

	.side-circle-red {
		@extend .side-circle;
		background-color: map-get($theme-colors, "red");
		border-color: map-get($theme-colors, "red");
	}

	.side-circle-blue {
		@extend .side-circle;
		background-color: map-get($theme-colors, "blue");
		border-color: map-get($theme-colors, "blue");
	}
}

.card-hover-effect {
	transition: all 0.2s ease-in-out;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-hover-effect:hover {
	transform: scale(1.04);
	// lesser box shadow is below
	// box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
	cursor: pointer;
}

@import 'branding-text/text.scss';
@import 'branding-text/anim-slide-out.scss';
@import 'branding-text/anim-slide-in.scss';

@each $color,
$hex in $theme-colors {
	.diagonal-line-#{$color} {
		background-color: $hex;

		&::before,
		&::after {
			background-color: $hex;
		}
	}
}
