{{ define "main" }}
	<section class="my-5">
		<div class="container text-center">
			<h1>{{ .Title }}</h1>
			<hr class="pb-5">
			{{ $software := .Params.software }}
			{{ $numTags := len $software }}
			{{ range $i, $currentProduct := $software }}
				{{ if eq (mod $i 2) 0 }}
				<div class="row">
				{{ end }}
					{{ range $key, $value := $currentProduct }}
					{{/*  TODO: make this more responsive and not terrible on small screens  */}}
						<div class="col-lg-6 col-md-12 d-flex justify-content-center">
							<div class="card text-bg-light mb-3 card-hover-effect" onclick="location.href='{{ $value.about_url }}'" style="max-width: 540px;">
								<div class="row g-0">
									<div class="col-md-4">
										{{ if $value.image }}
										<img src="{{ $value.image }}" width="100%" height="250" class="img-fluid rounded-start" alt="{{ $value.title }} Showcase Image">
										{{ else }}
										<svg class="bd-placeholder-img img-fluid rounded-start" width="100%" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image</text></svg>
										{{ end }}
									</div>
									<div class="col-md-8">
										<div class="card-body">
										<h5 class="card-title">{{ $value.title }}</h5>
										<p class="card-text">{{ $value.description | markdownify }}</p>
										<a role="button" class="btn btn-dark" href="{{ $value.about_url }}">Read More</a>
										{{/*  <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>  */}}
										</div>
									</div>
								</div>
							</div>
						</div>
					{{ end }}
				{{ if or (eq (add $i 1) $numTags) (eq (mod (add $i 1) 2) 0) }}
				</div>
				{{ end }}
			{{ end }}
		</div>
	</section>
{{ end }}