{{ define "main" }}

	<!-- Software Showcase Section -->
	<section class="my-5">
		<div class="container">
			<div class="card text-bg-light mb-4 p-4">
				<div class="card-body">
					<h1 class="card-title">{{ .Title }}</h1>
					<p class="card-text">{{ .Content }}</p>
				</div>
				<div class="row">
					<div class="col-6">
					{{ range $index, $button := .Params.buttons }}
					<a class="{{ $button.class }} mb-2" href="{{ $button.href }}" role="button"{{ if $button.newtab }} target="_blank"{{ end }}>{{ $button.text }}</a>
					{{ end }}
					</div>
				</div>
				
				<hr>
				<div class="row g-3 justify-content-center">
					{{ range $index, $image := .Params.images }}
					<div class="col-md-12 col-lg-6">
						<img src="{{ $image }}" alt="{{ index $.Params.alts $index }}" class="img-fluid">
					</div>
					{{ end }}
				</div>

			</div>
		</div>
	</section>
{{ end }}