<footer class="footer text-center mt-auto bg-light py-3">
  <div class="container">
    <div class="row justify-content-center">
      <div class="text-muted my-auto">
        &copy; 2025 ImaginaryInfinity
        <a
          class="btn btn-link btn-floating btn-lg text-secondary"
          href="https://gitlab.com/imaginaryinfinity/"
          target="_blank"
          role="button"
          ><i class="fab fa-gitlab"></i
        ></a>
      </div>
    </div>
  </div>
</footer>

