<head>
	<meta charset="UTF-8" />
	<link rel="icon" type="image/svg+xml" href="/img/imaginaryinfinitysquare.svg" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<!-- JavaScript -->
	{{ $bootstrapjs := resources.Get "js/bootstrap.bundle.min.js" }}
	{{ $jquery := resources.Get "js/jquery-3.7.0.min.js" }}
	{{ $js := slice $bootstrapjs $jquery | resources.Concat "js/bundle.js" | resources.Minify }}

	<script src="{{ $js.RelPermalink }}"></script>
	{{ with resources.Get "scss/styles.scss" | resources.ToCSS (dict "targetPath" "css/style.css") | resources.Minify |
	fingerprint }}
	<link rel="stylesheet" href="{{ .RelPermalink }}">
	{{ end }}

	<link rel="stylesheet" href="/fontawesome/css/all.min.css">

	{{ $title := site.Title }}
	{{ if not .IsHome }}
	{{ $title = printf "%s | %s" .ctx.Title site.Title }}
	{{ end }}
	<title>{{ $title }}</title>
</head>