<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-light">
	<div class="container-fluid">
		<a class="navbar-brand" href="/">
			<img src="/img/imaginaryinfinitysquare.svg" width="30" height="24">
		</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				{{ $currentPage := . }}
				{{ range where .Site.Pages.ByWeight.Reverse "Params.nav" "==" true }}
				<li class="nav-item">
					<a class="nav-link {{ if eq .Permalink $currentPage.Permalink }}active{{ end }}"
						href="{{ .RelPermalink }}">{{ .Title }}</a>
				</li>
				{{ end }}
			</ul>
		</div>
	</div>
</nav>